:root {
    --color-primary: #1A1AA1;
    --color-secondary: #236CC2;
    --color-background: #f2f2f2;
    --color-text: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-text);
    margin: 0;
    padding: 0;
    background: url("images/backgroundChatbot.png") center center/cover no-repeat fixed;
}

#chatBot {
    width: 30%;
    border: var(--color-primary) solid 1px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#head_chatBot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-text);
    padding: 0px 10px;
    border-bottom: var(--color-secondary) solid 1px;
}

#head_chatBot h1 {
    color: var(--color-primary);
    text-align: center;
    font-size: 18px;
}

#head_chatBot img.logo {
    border-radius: 50%;
    width: 20%;
}

#chat-container {
    overflow: hidden;
    display: none;
    border: var(--color-secondary) solid 1px;
    background-color: var(--color-text);
}

.show_chat {
    display: block !important;
}

#chat-container #msg {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-secondary);
    padding: 20px;
}

#chat-container .input_msg {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background: var(--color-text);
    border-radius: 4px;
}

#chat-container #msg .micro {
    width: 10%;
    margin: 4px;
}

#chat-display {
    height: 300px;
    overflow-y: auto;
    padding: 20px;
}

#user-input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: none;
    margin-left: 4px;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--color-text);
    color: var(--color-primary);
    cursor: pointer;
}

button:hover {
    font-size: 16px;
}

.message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.user_message {
    justify-content: flex-end;
}

.message_bubble {
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    background-color: var(--color-secondary);
    opacity: .7;
    color: var(--color-text);
}

.message_bubble img {
    width: 20px;
    margin-right: 5px;
}

.bubble_bot img {
    width: 20px;
    margin-right: 5px;
}

.message_bubble .bot_message {
    color: var(--color-secondary);
    background-color: var(--color-text);
}

.bubble_bot {
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.dislike-btn {
    background-color: transparent;
    /* Couleur du bouton dislike */
    color: #fff;
    /* Couleur du texte */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.message-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message-options img {
    width: 20px;
}

.dislikeResponse {
    border: red solid 3px;
}